html,body {
    overflow-x:hidden;
    margin: 0px;
    padding: 0px;
    font-family: 'Courier New', Courier, monospace !important;
}
figure{
    margin: 0;
}
[class*="col"] {
    padding: 0;
}
/* ------navbar----- */
.navbar{
    height: 80px !important;
    background-color: #141414 !important; 
}
.navbar-nav {
   padding: 10px 0 !important;
}
.nav-link {
    color: #ffffff !important;
}
.nav-link:hover {
    color: #bdbbbb!important;
}
.navcol {
    background-color: #141414 !important; 
    border-radius: 8px;
    padding: 10px !important;
}
/* ------name----- */
.first {
    position: relative; 
    top:76px; 
    height: 670px;
}
#fixed {
    background-image: url(../images/font1.png);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 595px;
    position: absolute;
    top: 0;
    left: 0;
}
.top {
    color: #eee8e8;
    background-color: #0c262786;
    height: 210px;
    margin-top: 80px;
}
.top h1 {
    margin: 45px 0 15px 0;
}
.top h1:hover {
    color: #bdbbbb;
}
.middle {
    height: 140px;
    margin-top: 35px;
    background-color: #0c262786;
}
.down {
    height: 70px;
    margin-top: 35px;
    background-color: #0c262786;
}
/* ------aboutme----- */
.bar1 {
    height: 360px !important;
}
.photo {
    width: 250px;
    height: 250px;
}
.imgme {
    position: absolute;
    top: 25%;
    left: 23%;
    width: 250px !important;
}
.cercle {
    position: absolute;
    top: 25%;
    left: 23%;
    width: 250px;
    height: 250px;
}
.rotate22 {
    animation: rotate 22s linear infinite;
}
.rotate44 {
    animation: rotate 44s linear infinite;
}
.aboutme {
    align-self: center; 
    padding: 10px 30px 10px 20px !important;
}
.aboutme h2 {
    text-align: center;
    margin-bottom: 2vh;
}
#fixed2 {
    background-image: url(../images/font2.png);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 300px;
    position: relative;
}
/* ------My skills----- */
#myskills, #mywork, #contact, #aboutme {
    position: relative;
    bottom: 50px;
    display: inline;
}
.bar {
    position: relative;
    width: 100%;
    height: 120px;
    background-color: #141414;
    color: #eee8e8;
    margin: 0;
}
.bar h1 {
    line-height: 120px;
    margin: 0;
}
.skill {
    height: 100%;
    background-color: #0c2627ef;
    color: #ffffff;
    padding: 30px 40px !important;
}
.skill p {
    font-size: 22px;
    margin-top: 20px;
}
.skill h3 {
    font-size: 30px;
    font-weight: bold;
    margin-top: 15px;
    color:#ebd454;
}
.img1 {
    background-image: url(../images/img1.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
}
.img2 {
    background-image: url(../images/img2.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
}
.img3 {
    background-image: url(../images/img3.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
}
/* ------Work----- */
#fixed3 {
    background-image: url(../images/work11.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 500px;
    position: relative;
}
#carouselExampleIndicators {
    height: 80%;
    margin: 4% 16%;
}
.carousel-item {
    background-color: #0c2627bd;
    width: 100% !important;
    height: 400px;
}
.carousel-caption {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.carousel-caption h1 {
    font-size: 200%;
    text-transform: uppercase;
    text-shadow: 1px 1px 15px #000000;
}
.carousel-caption h3 {
    font-size: 100%;
    text-shadow: 1px 1px 10px #000000;
    padding-bottom: 16px;
}
.btn-outline-light {
    font-size: 18px;
}
/* ----contact----  */
#fixed4 {
    background-image: url(../images/work9.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 500px;
    position: relative;
}
#fixed4 h2 {
    font-size: 16px;
    color: #141414;
    position: relative;
    left: 60px;
    margin-top: 50px;
}
.social {
    margin-top: 15px;
    margin-left: 50px;
}
.social a {
    padding: 10px;
    font-size: 26px;
    top: 2px;
    left: 2px;
}
.fa-linkedin { color: #244a9c;}
.fa-github-square { color: #141414;}
.fa-envelope-square { color: #c02b18;}
.fa-phone-square-alt { color: #1a639e;}
.fa-linkedin:hover,.fa-github-square:hover,.fa-envelope-square:hover,.fa-phone-square-alt:hover {
    color: #d5d5d5;
}
#myform {
    height: auto;
    width: 350px;
    position: relative;
    top: 10px;
    left: 40px;
    margin: 0px;
}
.inputform {
    position: relative;
    margin: 10px 20px;
    border: none;
    border-bottom: #141414 solid 1px;
    width: 290px;
    height: 20px;
}
.inputform:focus {
    outline: 0;
    border-bottom: #141414 solid 2px;
}
.inputform:hover {
    border-bottom: #141414 solid 2px;
}
.largeinput {
    height: 70px !important;
}
input::placeholder, textarea::placeholder {
    font-size: 14px;
    color: #1f1e1d;
}
.btn-outline-secondary {
    padding: 4px 8px;
    position: relative;
    left: 135px !important;
}
/*----- footer -----*/
.footer {
    padding: 20px;
    background-color: #141414;
    color: #ffffff;
    font-size: 18px;
}
/* ----go to top----- */
#totop {
    width: 50px;
    height: 50px;
    position: fixed;
    right: 10px;
    top: 55vh;
    display: none;
    z-index: 200; 
}
#top_appear {
    font-size: 50px;
    color: #971547;
    opacity: 0.8;  
}
#top_appear:hover {
    opacity: 1;
    font-size: 54px;
}
/*------- @media------ */
@media (max-width: 992px){

}
@media (max-width: 768px){
    .top h1 {
        margin-top: 70px;
        font-size: 32px;
    }
    .top h3 {
        font-size: 26px;
    }
    .aboutme { 
        margin: 0 !important;
    }
    .aboutme h2 {
        font-size: 28px;
    }
    .aboutme h5 {
        font-size: 16px;
    }
    .imgme, .cercle {
        width: 190px !important;
        height: 190px;
        top: 30%;
        left:15%;
    }
    .bar h1 {
        font-size: 34px;
    }
    .skill {
        border-bottom: 0.5px solid #146d72ef;
    }
    .skill p {
        font-size: 18px;
    }
    .skill h3 {
        font-size: 26px;
    }
    #carouselExampleIndicators {
        margin: 6% 8%;
    }
    #top_appear {
        font-size: 34px;
    }
    #top_appear:hover {
        font-size: 34px;
    }
    #totop {
        width: 40px;
        right: 5px;
    }
}
@media (max-width: 576px){
    .photo{
        width: 34%;
        margin: 0vw 25%;
    }
    .imgme, .cercle {
        top: 20%;
        left: 0;
    }
    .aboutme {
        text-align: center;
        margin: 0 !important;
        padding: 20px !important;
    }
    .bar {
        height: 100px !important;
    }
    .bar1 {
        height: 600px !important;
    }
    .bar h1 {
        font-size: 26px !important;
        height: 90px !important;
        line-height: 100px;
    }
    .aboutme h2 {
        font-size: 26px;
    }
    .aboutme h5 {
        font-size: 18px;
    }
    .img1, .img2, .img3 {
        display: none;
    }
    .bar h1 {
        font-size: 32px;
    }
    .skill p {
        font-size: 16px;
    }
    .skill h3 {
        font-size: 22px;
    }
    #carouselExampleIndicators {
        margin: 12% 0%;
    }
    .carousel-caption h1 {
        font-size: 150%;
    }
    .carousel-caption h3 {
        font-size: 90%;
    }
    .btn-outline-light {
        font-size: 14px;
        padding: 8px;
    }
    #fixed4 h2 {
        margin: 40px 30px 0px 30px;
        left: 0px;
    }
    #myform {
        left: 0px;
        margin: 0 auto;
    }
}
/* -----@keyframes -----*/
@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(180deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
