html,body {
    overflow-x:hidden;
    margin: 0px;
    padding: 0px;
    font-family: 'Courier New', Courier, monospace !important;
}
figure{
    margin: 0;
}
[class*="col"] {
    padding: 0;
}
/* ------navbar----- */
.navbar{
    height: 76px !important;
    background-color: #141414 !important; 
}
.navbar-nav {
   padding: 10px 0 !important;
}
.nav-link {
    color: #ffffff !important;
}
.nav-link:hover {
    color: #bdbbbb!important;
}
/* ------name----- */
#fixed {
    background-image: url(../images/font1.png);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
}
.top {
    color: #eee8e8;
    background-color: #0c262786;
    height: 210px;
    margin-top: 80px;
}
.top h1 {
    margin: 45px 0 15px 0;
}
.top h1:hover {
    color: #bdbbbb;
}
.middle {
    height: 140px;
    margin-top: 35px;
    background-color: #0c262786;
}
.down {
    height: 70px;
    margin-top: 35px;
    background-color: #0c262786;
}
/* ------aboutme----- */
.photo {
    position: absolute;
    top:10px;
    left:30px;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    margin: 35px 60px;
}
.imgme {
    width: 97% !important;
    top:0% !important;
    left:1% !important;
    display: block;
}
.cercle {
    position: absolute;
    top:0;
    left:0;
    width: 250px;
    height: 250px;
}
.rotate22 {
    animation: rotate 22s linear infinite;
}
.rotate44 {
    animation: rotate 44s linear infinite;
}
.aboutme {
    text-align: center;
    padding: 10px 50px 10px 0px !important;
}
.aboutme h1 {
    margin: 50px 0 10px 0;
}
#fixed2 {
    background-image: url(../images/font2.png);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 50vh;
    position: relative;
}
/* ------My skills----- */
#myskills, #mywork, #contact, #aboutme {
    position: relative;
    bottom: 50px;
    display: inline;
}
.bar {
    position: relative;
    width: 100%;
    height: 120px;
    background-color: #141414;
    color: #eee8e8;
    margin: 0;
}
.bar h1 {
    margin: 40px 0;
}
.skill {
    height: 100%;
    background-color: #0c2627ef;
    color: #ffffff;
    padding: 30px 40px !important;
}
.skill p {
    font-size: 22px;
    margin-top: 20px;
}
.skill h3 {
    font-size: 30px;
    font-weight: bold;
    margin-top: 15px;
    color:#ebd454;
}
.img1 {
    background-image: url(../images/img1.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
}
.img2 {
    background-image: url(../images/img2.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
}
.img3 {
    background-image: url(../images/img3.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
}
/* ------Work----- */
#fixed3 {
    background-image: url(../images/work11.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 75vh;
    position: relative;
}
.container {
    width: 600px;
    height: 380px;
    border: 1px solid #CCC;
    margin-top: 60px;
}
.scene {
    position: relative;
    width: 320px;
    height: 250px;
    margin: 40px auto;
    perspective: 1000px;
}
.carousel {
    width: 100%;
    height: 100%;
    position: absolute;
    transform: translateZ(-293px);
    transform-style: preserve-3d;
    transition: transform 1s;
} 
.carousel_cell {
    position: absolute;
    width: 290px;
    height: 220px;
    left: 15px;
    top: 15px;
    border: 2px solid black;    
}
.carousel_cell:nth-child(9n+1) { background: #212529e1; }
.carousel_cell:nth-child(9n+2) { background: #37c55bef; }
.carousel_cell:nth-child(9n+3) { background: #9cb838ef; }
.carousel_cell:nth-child(9n+4) { background: #c4ba32ef; }
.carousel_cell:nth-child(9n+5) { background: #c58736ef; }
.carousel_cell:nth-child(9n+6) { background: #38bcbeef; }

.carousel_cell:hover {
    background: hsl(160, 99%, 31%);
}
.carousel_cell:nth-child(1) { transform: rotateY(  0deg); }
.carousel_cell:nth-child(2) { transform: rotateY( 40deg); }
.carousel_cell:nth-child(3) { transform: rotateY( 80deg); }
.carousel_cell:nth-child(4) { transform: rotateY(120deg); }
.carousel_cell:nth-child(5) { transform: rotateY(160deg); }
.carousel_cell:nth-child(6) { transform: rotateY(200deg); }
.carousel_cell h3 {
    color: #f5f5f5;
    font-size: 24px;
    margin-top: 50px;
}
.carousel a {
    text-decoration: none;
}
.bord {
    color: #141414;
    font-size: 16px;
    padding: 3px 6px 0px 6px;
    border: 1px solid #6e6c6c;
    border-radius: 5px;
    background-color: #fffafa;
    display: inline-block;
    margin-top: 20px;
}
.bord:hover {
    background-color: #d6d2d2;
}
.btn {
    width: 45px;
    height: 40px;
    font-size: 24px;
    padding: 0;
    margin: 0 10px;
}
/* ----contact----  */
#fixed4 {
    background-image: url(../images/work9.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 80vh;
    position: relative;
}
#message {
    font-family: 'Courier New', Courier, monospace;
    font-size: 14px;
    color: #b14444;
    position: relative;
    left: 5px;
    top: 25px;
}
#myform {
    height: auto;
    width: 350px;
    position: relative;
    top: 80px;
    left: 20px;
    margin: 0px;
}
.inputform {
    position: relative;
    margin: 10px 20px;
    border: none;
    border-bottom: #141414 solid 1px;
    width: 290px;
    height: 20px;
}
.inputform:focus {
    outline: 0;
    border-bottom: #141414 solid 2px;
}
.inputform:hover {
    border-bottom: #141414 solid 2px;
}
.largeinput {
    height: 70px !important;
}
input::placeholder, textarea::placeholder {
    font-size: 14px;
    color: #1f1e1d;
}
#send {
    background-color: #ffffff;
    font-family: 'Courier New', Courier, monospace;
    font-size: 18px;
    color: #141414;
    position: relative;
    display: inline;
    left: 135px;
    border: none;
    margin: 0px;
}
#button:hover {
    color: #bc8f8f;
    cursor: pointer;
}
.hide {
    visibility: hidden;
}
.contact{
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    color: #141414;
    position: relative;
    margin: 0;
    top: 30px;
    left: 40px;
}
i {
    font-size: 26px;
    position: relative; 
    top: 2px;
    left: 2px;
    color: #141414;
    display: inline;
}
.divlink {
    position: relative; 
    top: 50px;
    left: 40px;
    height: 26px;
    display: flex;
}
.link {
    font-size: 14px;
    font-family: 'Courier New', Courier, monospace;
    width: 264px;
    height: 23px;
    position: relative;
    bottom: 1px;
    margin: 5px 0;
    padding: 5px 0px 0px 10px;
    border-bottom: #141414 solid 1px;
    border-left: #141414 solid 2px; 
    color: #ffffff;
}
.link:hover {
    background-color: #141414;
}
/*----- footer -----*/
.footer {
    padding: 20px;
    background-color: #141414;
    color: #ffffff;
    font-size: 18px;
}
/* ----go to top----- */
#totop {
    width: 50px;
    height: 50px;
    position: fixed;
    right: 10px;
    top: 55vh;
    display: none;
    z-index: 200; 
}
#top_appear {
    font-size: 50px;
    color: #971547;
    opacity: 0.8;  
}
#top_appear:hover {
    opacity: 1;
    font-size: 54px;
}
/*------- @media------ */
@media (max-width: 992px){
    
}
@media (max-width: 768px){
    
}
@media (max-width: 576px){

}
/* -----@keyframes -----*/
@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(180deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
